/* should include or not? */
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}
/* should include or not? */

.goto-calendar-container {
  width: 100%;
  overflow-y: auto;
}

.goto-calendar-week-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: auto 1fr;
}

.goto-calendar-week-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
  box-shadow: inset 0px -1px 0px #ededf0;
}

.goto-calendar-header-cell {
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px 8px 0;
  box-shadow: inset -1px 0px 0px #ededf0;
}

.sticky-goto-calendar-day-header {
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: inset -1px 0px 0px #ededf0;
  align-items: flex-start;
  height: max-content;
}

.goto-calendar-day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 2px 12px;
}

.goto-calendar-day-cell {
  grid-row: span 2;
  min-height: 135px;

  box-shadow: inset -1px 0px 0px #ededf0, inset 0px -1px 0px #ededf0;
}

.goto-calendar-day-number {
  padding: 1px 0px;
  border-radius: 14px;
}

.toggle-opacity {
  opacity: var(--day-opacity);
}
